<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.mypetsphuket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MapActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".DelailsActivity.InformationsActivity"
            android:parentActivityName=".DelailsActivity.HospitalsDetailActivity" />
        <activity android:name=".Admin.AdminServices.AdminHospitalActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DelailsActivity.PetshopsDetailActivity" />
        <activity android:name=".DelailsActivity.EmergencysDetailActivity" />
        <activity android:name=".DelailsActivity.DoctorsDetailActivity" />
        <activity android:name=".DelailsActivity.HospitalsDetailActivity" />
        <activity android:name=".Admin.AddNewCustomers.AddNewEmergencyActivity" />
        <activity android:name=".Admin.AddNewCustomers.AddNewPetshopActivity" />
        <activity android:name=".Admin.AddNewCustomers.AddNewDoctorsActivity" />
        <activity android:name=".Admin.AddNewCustomers.AddNewHospitalsActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".MenuActivity.MyAppointmentsActivity" />
        <activity android:name=".MenuActivity.EmergencyActivity" />
        <activity android:name=".MenuActivity.AppointmentsActivity" />
        <activity android:name=".MenuActivity.PetshopActivity" />
        <activity android:name=".MenuActivity.HospitalsActivity" />
        <activity android:name=".MenuActivity.DoctorsActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.mypetsphuket.MainActivity" />
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity android:name=".AdminCategoryActivity" />
        <activity android:name=".Admin.AddNewCustomers.AdminAddNewProductActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>